@import 'tailwindcss';

body {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  color: var(--color-neutral-900);
}

#cat-app {
  height: 100%;
}
