@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import 'tailwindcss';

body {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
}

#cat-app {
  height: 100%;
}
